In [ ]:
import pandas as pd

In [ ]:
data = {"Name" : ['Sam','Jhon','Harry','Tom'],"Age" : [19,18,21,20] ,"Marks" : [46,50,60,63]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Marks
0    Sam   19     46
1   Jhon   18     50
2  Harry   21     60
3    Tom   20     63

In [ ]:
print(df.loc[0])

Name     Sam
Age       19
Marks     46
Name: 0, dtype: object

In [ ]:
print(df.loc[[0, 1]])

   Name  Age  Marks
0   Sam   19     46
1  Jhon   18     50

In [ ]:
df = pd.DataFrame(data,index = [1,2,3,4])
print(df)

    Name  Age  Marks
1    Sam   19     46
2   Jhon   18     50
3  Harry   21     60
4    Tom   20     63

In [ ]:
print(df.loc[2])

Name     Jhon
Age        18
Marks      50
Name: 2, dtype: object

In [ ]:
print(df[['Name','Marks']])

    Name  Marks
1    Sam     46
2   Jhon     50
3  Harry     60
4    Tom     63